body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

body:before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #000 url('https://www.transparenttextures.com/patterns/stardust.png') repeat top center;
    z-index: -1;
    animation: moveBackground 200s linear infinite;
}

@keyframes moveBackground {
    from {background-position: 0 0;}
    to {background-position: 100% 0;}
}

#header {
    text-align: center;
    padding: 20px;
    background-color: #444;
}

#main-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    padding: 10px;
}

#building-queue {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
}

/* MAIN GAMING DYNAMIC SCREEN */

#game-zone {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
}

.tab-content {
    display: none;
    /* ... styles here ... */
}

.tab-content.active {
    display: block;
}

/* BUILDING tab */

.build-item {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;  /* image does not extend past the border */
}

.build-button-content-container p {
    color: #fff;
    text-align: center;
    z-index: 2;
}

.build-button-content-container {
    z-index: 2;  /* So it's in front of the image */
    position: relative;  /* To create a new stacking context for the z-index */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.build-button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px; /* setting height to 15% of the parent element */
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.build-button {
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #ffffff;
}

.building-content-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.build-item-image {
    position: absolute;  /* it acts like a background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  /* whole area */
    opacity: 0.5;  /* So the text is readable */
    z-index: 1;  /* So it's behind the text */
}

/* RESOURCES PANEL */

#resource-section {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
}

#spaces-content {
    width: 50%;
}

#empty-spaces-bar {
    width: 100%;
    height: 20px;
    appearance: none; /* This is necessary to apply custom styles in some browsers */
    direction: ltr; /* This will make the bar fill from left to right */
}

#empty-spaces-bar::-webkit-progress-bar {
    background-color: #ddd;
}

#empty-spaces-bar.progress-green::-webkit-progress-value {
    background-color: #4CAF50;
}

#empty-spaces-bar.progress-yellow::-webkit-progress-value {
    background-color: #DAA520;
}

#empty-spaces-bar.progress-red::-webkit-progress-value {
    background-color: #F00;
}

#info-section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#game-log, #tooltip {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-log h2, #tooltip h2 {
    text-align: center;
    width: 100%;
}

#tab-section {
    text-align: center;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
}

button {
    color: #333;
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* QUEUE LINE */

#queueDisplay {
    background-color: #444;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#building-queue {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.bqueue-item {
    width: 100px;
    height: 100px;
    background-color: #666;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* BUILDINGS LINE */

#built-buildings {
    text-align: center;
    background-color: #444;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.built-building {
    width: 100px;
    height: 100px;
    background-color: #888;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.building-wrapper {
    display: inline-block;
    margin-right: 10px;
}

.building-wrapper:last-child {
    margin-right: 0;
}

.building-wrapper button {
    display: block;
    margin-top: 5px;
}

/* OVERLAY START GAME */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

#start-game,
#continue-game {
    width: 150px;
}

/* GAME LOG COLORS */

.info {
    color: blue;
}

.error {
    color: red;
}

.debug {
    color: gray;
}

.positive {
    color: green;
}

.negative {
    color: orange;
}