body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

body:before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #000 url('https://www.transparenttextures.com/patterns/stardust.png') repeat top center;
    z-index: -1;
    animation: moveBackground 200s linear infinite;
}

@keyframes moveBackground {
    from {background-position: 0 0;}
    to {background-position: 100% 0;}
}

#header {
    text-align: center;
    padding: 20px;
    background-color: #444;
}

#main-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    padding: 10px;
}

#resource-section, #building-queue {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
}

/* MAIN GAMING DYNAMIC SCREEN */

#game-zone {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
}

.tab-content {
    display: none;
    /* ... styles here ... */
}

.tab-content.active {
    display: block;
}





/* RESOURCES PANEL */

#resources-content {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#spaces-content {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
}

#info-section {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#game-log, #tooltip {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-log h2, #tooltip h2 {
    text-align: center;
    width: 100%;
}

#tab-section {
    text-align: center;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
}

button {
    color: #333;
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* QUEUE LINE */

#queueDisplay {
    background-color: #444;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#building-queue {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.bqueue-item {
    width: 100px;
    height: 100px;
    background-color: #666;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* BUILDINGS LINE */

#built-buildings {
    text-align: center;
    background-color: #444;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.built-building {
    width: 100px;
    height: 100px;
    background-color: #888;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.building-wrapper {
    display: inline-block;
    margin-right: 10px;
}

.building-wrapper:last-child {
    margin-right: 0;
}

.building-wrapper button {
    display: block;
    margin-top: 5px;
}

/* OVERLAY START GAME */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

#start-game,
#continue-game {
    width: 150px;
}

/* GAME LOG COLORS */

.info {
    color: blue;
}

.error {
    color: red;
}

.debug {
    color: gray;
}

.positive {
    color: green;
}

.negative {
    color: orange;
}